<h2><%= @publisher.name %></h2>
<article>
  <div class="message is-dark">
    <p>Books:</p>
  </div>
  <div class="message-body">
    <%= @publisher.books.map(&:title).join(", ")  %>
  </div>
</article>