<div class="container">
  <h3 class="title is-3">
  Found <%= pluralize(@books.count, 'books') %>  found when searching for keyword: <%= params[:keywords] %>
  </h3>

  <ul>
    <% @books.each do |book| %>
      <li><%= link_to book.title, book %></li>
    <% end %>
  </ul>
</div>