<p class="mb-5">
 Found <%= pluralize(@books.count, 'books') %>  found when searching for keyword: <%= params[:keywords] %>
</p>

<ul>
  <% @books.each do |book| %>
    <li><%= link_to book.title, book %></li>
  <% end %>
</ul>