<div class="container">
  <h3 class="title is-3"><%= @subject.name %></h3>
  <article>
    <div class="message is-dark">
      <p>Books:</p>
    </div>
    <div class="message-body">
      <% @subject.books.each do |book| %>
        <%= link_to book.title, '/books/' + book.id.to_s %>
        <br>
      <% end %>
    </div>
  </article>
</div>