<html>
<h3>This thrift store will get data from 3 different sources:</h3>
<ol>
  <li>A CSV file to get the author keys</li>
  <li>An API call to get the name of authors</li>
  <li>An API call to get the books from those authors</li>
  <li>Faker to set the price and pages on each book</li>
</ol>
<h3>The store will focus mainly on books:</h3>
<ul>
  <li>An authors can write many books and a book can only belong to one author</li>
  <li>One book can have many subjects and one subject can have many different books</li>
  <li>One publisher can publish many books and one book can be published by many publishers</li>
</ul>
<h2>The ERD of the thrift store:</h2>
<div>
  <%= image_tag(image_path('thrift_store.jpg'), class: "img-responsive", height: "auto", width: "50%") %>
<div>
</html>
